/**
 * Generelles CSS für LCARS.
 * @author Daniel
 */

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px;
}

#footer, #push {
	height: 80px;
}

#footer {
	background-color: cccccc;
}

@media (max-width: 767px) {
	#footer {
	  margin-left: -20px;
	  margin-right: -20px;
	  padding-left: 20px;
	  padding-right: 20px;
	}
}

#content {
	margin-top: 40px;
}

.annotation {
	margin-top: 5px;
	font-size: smaller;
	font-color: 666;
	font-style: italic;
}

.pinlabel {
	margin-right: 5px;
}

.pagination {
    a.previous_page,span.previous_page {
        border-left: 1px solid #ddd;
    }
    span {
        float: left;
        padding: 0 14px;
        line-height: (@baseLineHeight * 2) - 2;
        text-decoration: none;
        border: 1px solid #ddd;
        border-left-width: 0;
    }
}

#missionenliste {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

.mission .icons {
	float: left;
	min-width: 40px;
}

.entschuldigt {
	color: #666666;
}

.unentschuldigt {
	color: #660000;
}


#map { 
	height: 600px;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px 5px 5px 5px;
}